*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    width: 1440px;
    height: 6338px;
}
.navbar{
    margin: auto;
    display: flex;
    width: 940px;
    height: 80px;
    list-style: none;
    justify-content: space-between;

}
.nav-list{
    display: flex;
}
.nav-link{
    width: 113px;
    text-decoration: none;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.hero{
    margin: auto;
    width: 1380px;
    height: 530px;
    background: #050827;
}
.hero-image{
    margin: auto;
    background-image: url("../img/hero.png");
    width: 940px;
    height: 530px;
}
.hero-text{
    padding-top: 159px;
    margin: auto;
    width: 793px;
    height: 212px;
    text-align: center;
    color: #FFFFFF;
}
.hero-name{
    width: 235px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hero-head{
    width: 267px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 60px;
    text-align: center;

}
.sub-para{
    width: 793px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
}
.hero-btn{
    text-align: center;
    width: 231px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
    border-radius: 0px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}


.main-one{
    margin: 125px auto;
    width: 940px;
    height: 3486px;
}
.main-text{
    margin: auto;
    width: 658px;
    height: 262px;
}
.main-head{
    margin: auto;
    width: 578px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #1D1F2E;
}
.main-para{
    ma: 10px 263px;
    width: 658px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
}
.main-link{
    margin-left:263px;
    width: 133px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #A25F4B;
    text-decoration: none;
}
.features{
    width: 940px;
    height: 18px;
}
.feature-para{
    margin: auto;
    width: 120px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.mugs{
    width: 480px;
    height: 653px;
}
.pink-gold{
    margin: 100px auto;
    display: flex;
}
.cofe-img{
    width: 460px;
    height: 540px;

}
.coffee-name{
    width: 212px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1D1F2E;
}
.cofe-price{
    width: 162px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
}
.old-price{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(29, 31, 46, 0.4);
}
.products{
    margin: auto;
    width: 124px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.product-list{
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 960px;
    height: 1633px;
}
.product-items{
    width: 317px;
    height: 493px;
}
.aksiya{
    margin: 100px auto 0 auto;
    width: 940px;
    height: 280px;
    display: flex;
    justify-content: space-between;

}
.aksiya-name{
    margin: auto;
    width: 354px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.aksiya-img{
    width: 460px;
    height: 280px;
    display: flex;
    justify-content: space-between;
}
.aksiya-img-two{
    width: 160px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.aksiya-text{
    width: 460px;
    height: 283px;

}
.aksiya-premium{
    width: 116px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.aksia-head{
    width: 237px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    color: #1D1F2E;
}
.aksiya-para{
    width: 353px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.shopping{
    background: #1D1F2E;
    width: 173px;
    height: 36px;
}
.shopping-para{
    width: 125px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main-img{
    width: 1440px;
    height: 340px;
    margin: 110px auto;
}
.main-two{
    margin: auto;
    width: 940px;
    height: 721px;
}
.story-head{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.story-list{
    margin: 100px auto 150px auto;
    width: 960px;
    height: 603px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.story-items{
    width: 300px;
    height: 553px;

}
.item-head{
    max-width: 24px auto 14px auto;
    width: 300px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
}
.item-para{
    width: 286px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.date{
    width: 130px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.updates{
    margin: 150px auto 100px auto;
    width: 1440px;
    height: 327px;
}
.update-div{
    margin: auto;
    width: 1380px;
    height: 327px;
    background: #1D1F2E;
}
.update-text{
    padding-top: 80px;
    margin:auto;
    width: 940px;
    height: 162px;
}
.update-para{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.update-head{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.update-input{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.update-btn{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.customer{
    background-color: black;
}
.footer{
    margin: auto;
    width: 940px;
    height: 204px;
}
.foot-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.foot-item{
    width: 146px;
    height: 204px;
}
.logo-para{
    margin: 22px 0 81px 0;
    width: 258px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}
.foot-subpara{
    width: 143px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
}
.list-name{
    width: 93px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.list-para{
    width: 88px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}
.contact-para{
    width: 179px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}
.contact-mail{
    width: 188px;
    text-decoration: none;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #1D1F2E;
}


